@use "_mixin" as m;
$font-poppins: "Poppins", sans-serif;

body {
    font-family: $font-poppins;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1268px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    &-inner {
        padding: 28px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include m.breakpoint(lg) {}
    }

    &-inner>* {
        flex: 1;
    }

    &-items {
        display: none;

        @include m.breakpoint(lg) {
            display: flex;
            justify-content: flex-end;
        }
    }

    &-items>* {
        margin-left: 37px;
    }
}

.button-mobile {
    text-align: right;
    display: inline-block;

    @include m.breakpoint(lg) {
        display: none;
    }
}

.main-menu {
    display: none;

    @include m.breakpoint(lg) {
        display: block;
    }

    &__list {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;

        @include m.breakpoint(lg) {
            display: flex;
        }
    }


    &__link {
        font-size: 18px;
        display: block;
        padding: 10px 35px;
        text-decoration: none;
        color: #000;
    }

    &__link:hover {
        background: #000;
        color: #fff;
    }
}

// BANNER
.banner {
    margin-bottom: 17px;
    position: relative;
    display: inline-block;

    &__img {
        width: 1700px;
        height: 500px;

        object-fit: cover;
    }

    &-text {
        position: absolute;
        top: 26%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000;
        font-size: 48px;
    }

    &-text__home {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000;
        font-size: 16px;
        font-weight: 500;
    }

    &-text__shop {
        margin-left: 5px;
        color: #9F9F9F;
    }
}

// SECTION
.section-heading {
    border-bottom: 1px solid #000;
    padding: 17px 0 20px 0;
    margin-bottom: 57px;

    &__title {
        font-size: 40px;
        font-weight: 500;
        margin: 0;
        padding: 0;
    }
}

.news {
    margin-bottom: 95px;
}

.product {
    &-list {
        @include m.grid(1, 30px);

        @include m.breakpoint(sm) {
            @include m.grid(2, 30px);
        }

        @include m.breakpoint(md) {
            @include m.grid(4, 30px);
        }
    }

    &-item {
        position: relative;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    &-item:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    &-image {
        position: relative;
        overflow: hidden;
    }

    &-sale {
        background: #e97171;
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 100%;
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        color: #fff;
    }

    &-new {
        background: #2ec1ac;
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 100%;
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        color: #fff;
    }

    &__thumbnail {
        transform: scale(1);
        transition: all 0.3s ease-in-out;
        width: 100%;

        @include m.breakpoint(md) {
            height: 302px;
        }

        object-fit: cover;
    }

    &-item:hover &__thumbnail {
        transform: scale(1.1);
    }

    &-info {
        padding: 15px;
        background: #f4f5f7;
    }

    &__name {
        font-size: 24px;
        margin: 0;
        padding: 0;
    }

    &__link {
        text-decoration: none;
        color: #3a3a3a;
    }

    &__category {
        color: #898989;
        text-decoration: none;
        display: block;
        margin: 13px 0;
    }

    &-price {
        display: flex;
        justify-content: space-between;
    }

    &-price__new {
        color: #3a3a3a;
        font-size: 20px;
        font-weight: 600;
    }

    &-item:hover &-actions {
        opacity: 1;
    }

    &-actions {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        opacity: 0;
        transition: 0.3s ease-in-out;
        color: #fff;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    &-actions>* {
        margin-bottom: 15px;
        cursor: pointer;
    }

    &-actions>button {
        width: 200px;
        height: 30px;
    }
}

.Product-btn {
    margin-top: 60px;
    margin-bottom: 54px;
    text-align: center;
}

.Product-btn span {
    width: 60px;
    height: 60px;
    background-color: #F9F1E7;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
}

.Product-btn .Product-btn__Sl {
    background-color: #B88E2F;
    color: #FFFFFF;
}

.shop {
    margin-top: 60px;
    margin-bottom: 54px;
}

.shops {
    @include m.grid(2, 30px);
}

.shops img {
    width: 665px;
    height: 500px
}

.post-item {
    @include m.grid(1, 30px);

    @include m.breakpoint(md) {
        @include m.grid(2, 30px);
    }

    align-items: center;
    margin-bottom: 15px;
}

.post {
    &-info {
        border-bottom: 1px solid #000;
        padding-bottom: 50px;
        display: flex;
        flex-flow: column;
        margin-bottom: -40px;
    }

    &__title {
        font-size: 20px;
        margin: 0px 0 11px 0;
    }

    &-image img {
        width: 665px;
        height: 250px;
    }

    &__excerpt {
        line-height: 23px;
        color: #898989;
    }

    &__link {
        color: #3a3a3a;
        text-decoration: none;
    }

    &__readmore {
        align-self: flex-end;
        text-decoration: none;
        color: #3a3a3a;
    }
}

.service-list {
    background: #faf3ea;
    padding: 10% 15px 10% 15px;
    @include m.grid(2, 30px);

    @include m.breakpoint(lg) {
        @include m.grid(4, 30px);
        padding: 107px 10% 93px 10%;
    }

    .service-item {
        display: block;
        text-align: center;

        @include m.breakpoint(sm) {
            display: grid;
            grid-template-columns: 60px auto;
            grid-gap: 10px;
            text-align: left;
        }
    }

    .service__name {
        font-size: 25px;
        color: #242424;
        margin: 0;
    }

    .service__description {
        color: #898989;
        margin-top: 10px;
    }
}

.footer {
    padding: 39px 0;

    &-list {
        @include m.grid(1, 30px);

        @include m.breakpoint(lg) {
            @include m.grid(3, 30px);
        }
    }

    &__address {
        color: #9f9f9f;
    }

    &-nav {
        @include m.grid(2, 30px);
    }

    &__title {
        font-size: 16px;
        color: #9f9f9f;
        font-weight: normal;
        margin-bottom: 59px;
    }

    &-menu-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &-menu-item {
        margin-bottom: 20px;
    }

    &-menu-link {
        text-decoration: none;
        color: #000;
    }
}

.newsletter {
    &__input {
        border: 1px solid transparent;
        border-bottom: 1px solid #000;
        padding: 5px 10px;

        &:focus {
            outline: none;
        }
    }

    &__btn {
        border: 1px solid transparent;
        border-bottom: 1px solid #000;
        padding: 5px 10px;
        background: none;
        cursor: pointer;
    }
}

.section-blog-heading {
    margin-bottom: 66px;
}

// === Shop ===
.nav-list {
    background: #faf3ea;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 0 7%;
    margin: -21px 0px 30px 0px;
    height: 100px;

    .nav-items {
        display: block;
        text-align: center;

        @include m.breakpoint(sm) {
            display: grid;
            grid-template-columns: 60px auto;
            grid-gap: 10px;
            text-align: left;
        }
    }

    .nav-item {
        display: flex;
        align-items: center;

        .nav__image {
            margin-right: 20px;
        }

        .nav__name {
            margin-right: 20px;
        }
    }

    .nav-show {
        display: flex;
        align-items: center;
        margin-left: 200px;

    }

    .nav-shows {
        display: none;

        @include m.breakpoint(lg) {
            display: flex;
            justify-content: flex-end;
        }

        .nav-item-show {
            display: flex;
            align-items: center;
            margin-right: 40px;
        }

        .nav-show__name {
            margin-right: 20px;
            font-weight: 500;
        }

        .nav-show__Stt {
            margin-right: 20px;
            color: #9F9F9F;
            width: 55px;
            height: 36px;
            text-align: center;
            background-color: #FFFFFF;
            padding-top: 11px;

        }

        .nav-show__chu {
            margin-right: 20px;
            color: #9F9F9F;
            width: 188px;
            height: 36px;
            text-align: center;
            background-color: #FFFFFF;
            padding-top: 11px;
        }
    }

}

// Chi tiết sản phâm
.nav-list-product {
    background: #faf3ea;
    padding: 0px 8% 0 11%;
    margin: -21px 0px 30px 0px;
    height: 100px;

    .nav-items-product {
        padding-top: 35px;

        .nav-item-product {
            display: flex;
            align-items: center;

            .nav__name-product {
                margin-right: 20px;
                color: #9F9F9F;
            }

            .nav__image-product {
                margin-right: 20px;
            }
        }
    }
}

.Details {
    .Detail-product {
        @include m.grid(1, 30px);
        padding: 0px 8% 0 11%;

        @include m.breakpoint(lg) {
            @include m.grid(2, 30px);
        }

        .product-list {
            display: grid;
            grid-template-columns: auto auto;
            grid-column-gap: 30px;

        }

        .product-item__small {
            width: 76px;
            height: 80px;
            padding-top: 10px;
        }

        .img__small {
            border-radius: 10px;
            margin: 0 0 30px 0;
        }

        .product-item__big {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 392px;

            @include m.breakpoint(lg) {}


            &>img {
                width: 481px;
                height: 500px;
                border-radius: 10px;
            }
        }

        .Detail-item {
            &__title {
                font-size: 42px;
                font-weight: 400;
                color: #000000;
                margin: 0;
            }

            &__price {
                font-size: 24px;
                color: #9F9F9F;
            }

            &__star {}

            &__review {
                padding-left: 40px;
                color: #898989;
            }

            &__description {
                font-size: 13px;
                color: #000000;
                margin-top: 20px;
                padding-bottom: 20px;
            }

            &__description p {
                margin-top: -5px;
            }

            &__Size p {
                margin-bottom: 30px;
                color: #9F9F9F;
            }

            &__Size span {
                width: 30px;
                height: 30px;
                border: 1px solid wheat;
                margin-top: 30px;
                border-radius: 10px;
            }

            &__co {
                background-color: #FFFFFF;
                color: #000000;
                width: 30px;
                height: 30px;
                padding: 20px;
            }

            &__comau {
                background-color: #B88E2F;
                color: #FFFFFF;
                width: 30px;
                height: 30px;
                padding: 20px;
            }

            &__Color p {
                margin-bottom: 30px;
                margin-top: 50px;
                color: #9F9F9F;
            }

            &__mautim {
                background-color: #816DFA;
                width: 30px;
                height: 30px;
                padding: 20px;
                border-radius: 50%;
            }

            &__mauden {
                background-color: #000000;
                width: 30px;
                height: 30px;
                padding: 20px;
                border-radius: 50%;
                margin-left: 20px;
                margin-right: 20px;
            }

            &__maunau {
                background-color: #B88E2F;
                width: 30px;
                height: 30px;
                padding: 20px;
                border-radius: 50%;
            }
        }


        .Detail-button {
            padding-top: 30px;
            padding-bottom: 60px;
            border-bottom: 1px solid #9F9F9F;

            &__number {
                width: 123px;
                height: 64px;
                border: 1px solid #9F9F9F;
                background-color: #FFFFFF;
                border-radius: 10px;
            }

            &__add {
                width: 215px;
                height: 64px;
                border: 1px solid #000000;
                background-color: #FFFFFF;
                border-radius: 10px;
                font-size: 20px;
                margin-right: 20px;
                margin-left: 20px;
            }

            &__compare {
                width: 215px;
                height: 64px;
                border: 1px solid #000000;
                background-color: #FFFFFF;
                border-radius: 10px;
                font-size: 20px;
            }
        }



        .address-product {
            padding-top: 50px;
            padding-bottom: 70px;
        }

        .address-list {
            padding-bottom: 20px;
            color: #9F9F9F;
        }
    }
}

.description {
    .description-list {
        padding: 0px 8% 0 11%;
        margin: 60px 0px 0px 0px;
        height: auto;
    }

    .description-title {
        // display: flex;
        justify-content: space-between;
        text-align: center;

        &__name {
            font-size: 24px;
            font-weight: 500;
            color: #000;
            margin-right: 50px;
        }

        &__namemau {
            color: #9F9F9F;
            font-size: 24px;
            margin-right: 50px;
        }
    }

    .description-content {
        padding-top: 20px;
    }

    .description-content1 {
        padding-bottom: 20px;
        color: #9F9F9F;
    }

    .description-image img {
        width: 605px;
        height: 384px;
        padding-bottom: 60px
    }
}

.related-section-heading {
    padding: 17px 0 20px 0;
    margin-bottom: 57px;

    &__title {
        text-align: center;
        font-size: 40px;
        font-weight: 500;

    }
}

.show_more {
    margin-left: 175%;
    margin-bottom: 60px;
    margin-top: 40px;
}

.btn-show {
    width: 245px;
    height: 48px;
    border: 1px solid #B88E2F;
    color: #B88E2F;
    text-align: center;
}



// ----Cart-----

.cart-list {
    padding: 70px 8% 0 11%;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 30px;
    height: 525px;

    .cart-title {
        border-spacing: 0;
    }


    .cart-title tr th {
        background-color: #F9F1E7;
        width: 817px;
        height: 55px;
    }

    .cart-title tr td {
        text-align: center;
        color: #9F9F9F;
        padding-top: 50px;
    }

    .cart-title tr .cart-color {
        color: #000000;
    }

    .cart-so {
        width: 20px;
        height: 20px;
        border: 1px solid #9F9F9F;
        color: #000000;
        text-align: center;
    }

    .cart-product {
        width: 108px;
        height: 105px;
        border-radius: 10px;
        background-color: #F9F1E7;

    }
}

.cart-totals {
    background-color: #F9F1E7;
    width: 393px;
    height: 390px;
    margin: 0px;

    &__title {
        color: #000000;
        font-size: 32px;
        text-align: center;
        margin: 0px;
        padding-bottom: 80px;
        padding-top: 20px;
    }
}

.cart-total {
    padding-bottom: 30px;
    color: #9F9F9F;
    text-align: center;

    &__black {
        color: #000000;
        font-weight: 400;
        padding-right: 100px;
    }

    &__yellow {
        color: #B88E2F;
        font-size: 20px;
        font-weight: 500;
    }
}

.check-cart {
    text-align: center;
    padding-top: 40px;
}

.check-out {
    width: 222px;
    height: 59px;
    border: 1px solid;
    border-radius: 20px;
}


// ----Check Out-----
.checkOut-list {
    width: 608px;
    height: 1714px;
    padding: 30px 8% 0 11%;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 100px;

    .checkOut-bill {
        &-form {
            margin-top: 50px;
        }

        &__name {
            @include m.grid(2, 30px);
        }

        &__first input {
            width: 211px;
            height: 75px;
            border-radius: 20px;
            margin-top: 25px;
        }

        &__item {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            margin-bottom: 5px;
        }

        &__input {
            width: 453px;
            height: 73px;
            border-radius: 20px;
            margin-top: 25px;
            margin-bottom: 5px;
        }

        &__item input {
            padding-left: 20px;
            color: #9F9F9F;
        }
    }

    select {
        padding-left: 20px;
        color: #9F9F9F;
    }
}


.checkOut-totals {
    &__title {
        font-weight: 500;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
    }

    &__content {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    &__number {
        margin-right: 365px
    }

    &__grey {
        color: #9F9F9F;
    }

    &__yellow {
        color: #B88E2F;
        font-weight: 700;
        font-size: 24px;
    }

}

.checkOut {
    &-products {
        width: 608px;
        // height: 479px;
        padding: 50px 8% 0 11%;
    }

    &-content {
        margin-top: 30px;
    }

    &-radio label {
        color: #9F9F9F;
        font-weight: 500;
    }

    &-title label {
        color: #000000;
    }

    &-content__grey {
        color: #9F9F9F;
        margin-bottom: 30px;
    }

    &-content {
        color: #000;
        font-weight: 300;
    }

    &-content__color {
        color: #000;
        font-weight: 600;
    }

    &-radio {
        margin-bottom: 30px;
    }

    &-btn {
        margin-top: 45px;
        text-align: center;
    }

    &-place {
        width: 318px;
        height: 64px;
        border-radius: 20px;
        background-color: white;
        border: 1px solid;
    }

    &-place:hover {
        color: #B88E2F;
    }
}


//-------Login------
.Login-list {
    height: 600px;
    margin: 0 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.Login-item {
    display: block;
    padding: 20px;
}

.Login-title {
    text-align: center;
    color: #B88E2F;
    font-size: 30px;
}

.Login-item label {
    text-align: right;
    color: #B88E2F;
    font-size: 22px;
}

.Login-item input {
    width: 700px;
    height: 60px;
    border-radius: 20px;
    text-align: center;
}

.Login-btn {
    margin-top: 30px;
    text-align: center;
}

.Login-btn button {
    width: 149px;
    height: 64px;
    border-radius: 20px;
    background-color: #F9F1E7;
    color: #000;
    font-weight: 800;
    border: 1px solid #F9F1E7;
    font-size: 20px;
}

.Login-social {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 512px;
    margin-left: 125px;
}

.Login-social__Facebook {
    width: 191px;
    height: 64px;
    background-color: #0171D3;
    color: #FFFFFF;
    border: 1px solid #0171D3;
    font-weight: 800;
    border-radius: 20px;
    font-size: 20px;
}

.Login-social__Google {
    width: 191px;
    height: 64px;
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
    font-weight: 800;
    border-radius: 20px;
    font-size: 20px;
}